*{
    background-color: antiquewhite;
}


ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    width: 200px;
    background-color: lightgrey;
}

li{
    padding: 5px;
    border-bottom: 1px solid lightgrey;

}

body{
    display: flex;
    flex-direction: column;
    padding: 25px;
}

#upperDeck{
    display: flex;
    background-color: lightblue;
    flex-direction: row;
}

#tableau{
    background-color: lightcoral;
    display: flex;
    flex-direction: row;

}

#col1{
    color: red;
    border: 2px dotted red;

}


#col2{
    color: orange;
    border: 2px dotted orange;
}
#col2:n-child{
    color: red;
    border: 2px dotted red;

}
#col3{
    color: green;
    border: 2px dotted green;
}
#col4{
    color: blue;
    border: 2px dotted blue;
}
#col5{
    color: indigo;
    border: 2px dotted indigo;
}
#col6{
    color: violet;
    border: 2px dotted violet;
}
#col7{
    color: black;
    border: 2px dotted black;
}

#stock :not(:nth-child(1)){
    color: orange;
    background-color: orange;

}